@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url("~bootstrap/dist/css/bootstrap.css");
@import url("~bootstrap-table/dist/bootstrap-table.css");
@import url("~bootstrap4-tagsinput-douglasanpa/tagsinput.css");

.inventory-list-item {
  width: 300px !important;
}

.inventory-item {
  width: 220px !important;
}

.inventory-button {
  width: 40px !important;
}

.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.container p {
  text-align: left;
}

.small {
  font-size: 0.8em;
}

#login-section form .fa {
  width: 20px;
}

.hidden {
  display: none;
}

.btn {
  padding: .2rem 1.5rem;
  border-radius: 0
}

@media (max-width: 992px) {
  .btn {
    padding: .2rem 0.4rem
  }
}

.btn-known-user {
  color: #1d3b6f;
  font-weight: 700;
  border: 2px solid #aaa;
  padding: 0;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0)
}

.btn-known-user:hover {
  color: #1d3b6f;
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%, #fff 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0)
}

.btn-known-user:active {
  color: #1d3b6f;
  background-color: #f0f0f0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-known-user:focus {
  color: #1d3b6f;
  outline: 5px auto #f0f0f0;
  outline-offset: -2px;
  box-shadow: 0 0 0 0.2rem rgba(66, 165, 220, 0.25);
  transition: none
}

.btn-known-user:visited {
  color: #1d3b6f
}

.btn-bigfriendly {
  color: #084FAB;
  border: 2px solid #848484;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4)
}

.btn-bigfriendly:hover {
  color: #084FAB;
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%, #fff 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0)
}

.btn-bigfriendly:active {
  color: #2A70C6;
  background-color: #E4EFFF;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-bigfriendly:focus {
  color: #2A70C6;
  outline: none;
  outline-offset: -2px;
  box-shadow: 0 0 0 0.2rem rgba(196, 223, 255, 0.25);
  transition: none
}

.btn-bigfriendly:visited {
  color: #fff
}

.btn-blue {
  color: #fff;
  font-weight: 700;
  border: 1px solid #085895;
  background: #3C8BC7;
  background: -moz-linear-gradient(top, #3C8BC7 0%, #1A75BB 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3C8BC7), color-stop(100%, #1A75BB));
  background: -webkit-linear-gradient(top, #3C8BC7 0%, #1A75BB 100%);
  background: -o-linear-gradient(top, #3C8BC7 0%, #1A75BB 100%);
  background: -ms-linear-gradient(top, #3C8BC7 0%, #1A75BB 100%);
  background: linear-gradient(to bottom, #3C8BC7 0%, #1A75BB 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0)
}

.btn-blue:hover {
  color: #fff;
  background: #1A75BB;
  background: -moz-linear-gradient(top, #1A75BB 0%, #3C8BC7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1A75BB), color-stop(100%, #3C8BC7));
  background: -webkit-linear-gradient(top, #1A75BB 0%, #3C8BC7 100%);
  background: -o-linear-gradient(top, #1A75BB 0%, #3C8BC7 100%);
  background: -ms-linear-gradient(top, #1A75BB 0%, #3C8BC7 100%);
  background: linear-gradient(to bottom, #1A75BB 0%, #3C8BC7 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0)
}

.btn-blue:active {
  color: #fff;
  background-color: #1A75BB;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-blue:focus {
  color: #fff;
  outline: 5px auto #3C8BC7;
  outline-offset: -2px;
  box-shadow: 0 0 0 0.2rem rgba(66, 165, 220, 0.25);
  transition: none
}

.btn-blue:visited {
  color: #fff
}

.btn-gray, .action .edit, .action .trash {
  color: #444;
  font-weight: 700;
  border: 1px solid #a0a0a0;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0)
}

.btn-gray:hover, .action .edit:hover, .action .trash:hover {
  color: #444;
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%, #fff 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0)
}

.btn-gray:active, .action .edit:active, .action .trash:active {
  color: #444;
  background-color: #f0f0f0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-gray:focus, .action .edit:focus, .action .trash:focus {
  color: #444;
  outline: 5px auto #fff;
  outline-offset: -2px;
  box-shadow: 0 0 0 0.2rem rgba(187, 187, 187, 0.25);
  transition: none
}

.btn-gray:visited, .action .edit:visited, .action .trash:visited {
  color: #444
}

.connect {
  font-size: 30px;
  font-weight: 700;
  border-radius: 0;
  padding: 15px !important;
  margin-bottom: 30px
}

@media (max-width: 1200px) {
  .connect {
    font-size: 25px
  }
}

@media (max-width: 992px) {
  .connect {
    font-size: 20px
  }
}

.connect .plus {
  position: relative;
  width: 30px;
  display: inline-block;
  height: 30px
}

@media (max-width: 992px) {
  .connect .plus {
    width: 20px;
    height: 20px
  }
}

.connect .plus::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 23px;
  position: absolute;
  top: 3px;
  left: 0
}

@media (max-width: 1200px) {
  .connect .plus::before {
    font-size: 20px;
    top: -4px
  }
}

@media (max-width: 992px) {
  .connect .plus::before {
    font-size: 17px;
    top: -2px
  }
}

.connect .db {
  position: relative;
  width: 48px;
  display: inline-block;
  height: 34px
}

@media (max-width: 1200px) {
  .connect .db {
    width: 42px;
    height: 34px
  }
}

@media (max-width: 992px) {
  .connect .db {
    width: 35px;
    height: 25px
  }
}

.connect .db::before {
  content: "\f1c0";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 38px;
  position: absolute;
  top: -6px;
  left: 3px
}

@media (max-width: 1200px) {
  .connect .db::before {
    font-size: 34px
  }
}

@media (max-width: 992px) {
  .connect .db::before {
    font-size: 30px
  }
}

.connect.btn-known-user {
  font-size: 25px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 40px;
  padding: 0 !important
}

@media (max-width: 992px) {
  .connect.btn-known-user {
    font-size: 18px
  }
}

.connect.btn-known-user span.login_logo {
  display: block;
  float: left;
  height: 95px;
  background-color: #fff;
  border-right: 5px solid #fff;
  width: 140px;
  border-left: 5px solid #fff;
  position: relative
}

@media (max-width: 992px) {
  .connect.btn-known-user span.login_logo {
    width: 113px;
    height: 77px
  }
}

.connect.btn-known-user img {
  position: absolute;
  max-height: 95px;
  max-width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%
}

@media (max-width: 992px) {
  .connect.btn-known-user img {
    max-height: 77px
  }
}

.connect.btn-known-user div {
  padding: 1.1rem 1.5rem;
  float: left;
  border-left: 2px solid #cdcdcd;
  white-space: normal;
  max-width: 380px
}

.connect.btn-known-user .user-name {
  font-weight: normal;
  font-size: smaller;
}

.connect.settings-small {
  font-size: 18px;
  padding: 10px 20px !important
}

.connect.settings-small .plus {
  width: 20px;
  height: 14px
}

.connect.settings-small .plus::before {
  font-size: 18px;
  top: -7px;
  left: 0
}

.connect.settings-small .db {
  width: 30px;
  height: 17px
}

.connect.settings-small .db::before {
  font-size: 24px;
  top: -8px;
  left: 3px
}

.home-button {
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 40px;
  height: 300px;
  border: 2px solid #848484
}

.home-button .upload::after {
  content: "\f093";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 80px;
  display: block
}

.home-button .download::after {
  content: "\f019";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 80px;
  display: block
}

.home-button .history::after {
  content: "\f1da";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 80px;
  display: block
}

#settings-section .input-group-btn {
  margin-bottom: 0
}

.modal-content {
  border-radius: 0
}

.modal-content .modal-header {
  background: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 15px
}

.modal-content .modal-header .modal-title {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #000
}

.modal-content .modal-footer {
  border-top: 1px solid #e0e0e0;
  background: #f0f0f0;
  padding: 10px 15px
}

.modal-content .close {
  background: #fff;
  padding: 0;
  margin: 0
}

.log-text {
  height: 150px;
  overflow-y: scroll;
  width: 100%
}

.session-id {
  font-size: 1rem
}

.alert-dismissible {
  margin-bottom: 50px
}

.quality-holder {
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto
}

.quality-holder select {
  border: 1px solid;
  border-radius: 2px;
  background: #3C8BC7;
  background: -moz-linear-gradient(top, #3C8BC7 0%, #1A75BB 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3C8BC7), color-stop(100%, #1A75BB));
  background: -webkit-linear-gradient(top, #3C8BC7 0%, #1A75BB 100%);
  background: -o-linear-gradient(top, #3C8BC7 0%, #1A75BB 100%);
  background: -ms-linear-gradient(top, #3C8BC7 0%, #1A75BB 100%);
  background: linear-gradient(to bottom, #3C8BC7 0%, #1A75BB 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  border-color: #085895;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  font-weight: 700;
  height: 34px;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  width: 100%
}

.quality-holder select option {
  color: red
}

.quality-holder::after {
  content: " ";
  background: #1d3b6f;
  width: 1px;
  height: 32px;
  pointer-events: none;
  position: absolute;
  right: 30px;
  top: 1px
}

.quality-holder::before {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 6px
}

textarea {
  width: 100%;
  padding: 8px
}

.tab-pane {
  padding: 20px 10px
}

.tab-content {
  border: 1px solid #ccc;
  width: 100%
}

.nav-link {
  padding: .3rem 1rem
}

.nav-tabs .nav-link.active {
  color: #fff;
  background: #1A75BB;
  border-color: #1A75BB;
  border-radius: 0
}

.nav-tabs .nav-link {
  color: #084FAB;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  border-color: #1d3b6f;
  border-radius: 0
}

.nav-tabs .nav-link.disabled {
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #FCFCFC 0%, #F0F0F0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(100%, #F0F0F0));
  background: -webkit-linear-gradient(top, #FCFCFC 0%, #F0F0F0 100%);
  background: -o-linear-gradient(top, #FCFCFC 0%, #F0F0F0 100%);
  background: -ms-linear-gradient(top, #FCFCFC 0%, #F0F0F0 100%);
  background: linear-gradient(to bottom, #FCFCFC 0%, #F0F0F0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  border-color: #aaa;
  color: #868384
}

.settings-input {
  height: 32px;
  border-radius: .25rem
}

.button-row {
  margin-bottom: 15px
}

.bootstrap-table {
  margin-bottom: 30px
}

.fixed-table-container {
  overflow: hidden
}

.bootstrap-table .table thead > tr > th {
  vertical-align: baseline
}

.fixed-table-toolbar {
  display: none
}

.action {
  text-align: center
}

.action .edit {
  margin-right: 10px;
  padding: 5px 7px;
  font-size: 14px;
  border-radius: 3px
}

.action .trash {
  padding: 5px 7px;
  font-size: 14px;
  border-radius: 3px
}

.fht-cell .filterControl {
  position: relative
}

.fht-cell .filterControl input, .fht-cell .filterControl select.form-control:not([size]):not([multiple]) {
  padding-left: 30px;
  height: 30px
}

.fht-cell .filterControl i {
  font-size: 16px;
  color: #aeadad;
  pointer-events: none;
  position: absolute;
  left: 8px;
  top: 8px
}

.filter-control {
  position: relative;
  padding: 10px 0
}

.filter-control input {
  padding-left: 30px;
  border-radius: 0
}

.filter-control::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 16px;
  color: #aeadad;
  pointer-events: none;
  position: absolute;
  left: 8px;
  top: 17px
}

.filter-control.title-inline {
  padding: 0 0 10px 0
}

.filter-control.title-inline::before {
  top: 8px
}

.form-control {
  border: 1px solid #aaa
}

.choose-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #aaa;
  margin-bottom: 30px;
  height: 162px;
  overflow-y: scroll
}

.choose-list.list-selectable li a {
  position: relative;
  padding-left: 35px
}

.choose-list.list-selectable li a input.checkbox {
  position: absolute;
  top: 9px;
  left: 10px
}

.choose-list.list-selectable li a label {
  margin: 0;
  display: block
}

.choose-list.list-selectable li a .file_count {
  position: absolute;
  right: 10px;
  top: 3px
}

.select-all-control, .inline-control {
  display: inline-block
}

.select-all-control {
  width: 70px
}

.select-all-control .select-format, .select-all-control .select-type {
  margin-right: 5px;
  margin-left: 10px
}

.inline-control {
  width: calc(100% - 75px)
}

.choose-list li a {
  margin-top: -1px;
  padding: 3px 12px;
  text-decoration: none;
  font-size: 18px;
  color: #373737;
  display: block
}

.choose-list li a:hover:not(.header) {
  background-color: #E4EFFF
}

div.progress-container {
  background-image: repeating-linear-gradient(63deg, transparent, transparent 10px, rgba(40, 167, 69, 0.3) 10px, rgba(40, 167, 69, 0.3) 20px);
  background-size: 100% 1000%;
  animation: barberpole 10s linear infinite;
  background-position: 0 0
}

.transfer-canceled div.progress-container {
  animation: none;
  background-image: repeating-linear-gradient(63deg, transparent, transparent 10px, rgba(251, 167, 21, 0.3) 10px, rgba(251, 167, 21, 0.3) 20px)
}

.transfer-canceled div.progress-container .bg-success {
  background-color: #fba715 !important
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin-top: 40px
}

.noselect {
  -webkit-user-select: none;
  cursor: default
}

.container-fluid {
  max-width: 1140px;
  margin-bottom: 30px
}

.container {
  margin-bottom: 30px
}

header {
  background: #03509e;
  background: -moz-linear-gradient(top, #03509e 0%, #1e3a6c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #03509e), color-stop(100%, #1e3a6c));
  background: -webkit-linear-gradient(top, #03509e 0%, #1e3a6c 100%);
  background: -o-linear-gradient(top, #03509e 0%, #1e3a6c 100%);
  background: -ms-linear-gradient(top, #03509e 0%, #1e3a6c 100%);
  background: linear-gradient(to bottom, #03509e 0%, #1e3a6c 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 1
}

header .settings {
  color: #66C7FF;
  font-size: 20px;
  float: right;
  padding: 5px 10px;
  border-left: 1px solid #1c3a6c;
  border-right: 1px solid #1c3a6c
}

header .settings:hover {
  color: #fff;
  text-decoration: none
}

header .server-name {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  pointer-events: none;
  top: 6px;
  font-weight: 700
}

header .user-holder {
  position: relative;
  float: right
}

header .user-holder .user {
  color: #66C7FF;
  font-size: 20px;
  float: right;
  padding: 5px 10px;
  border-left: 1px solid #1c3a6c
}

header .user-holder .user .name {
  font-size: 16px;
  font-weight: 700
}

header .user-holder .user:hover {
  color: #fff;
  text-decoration: none
}

header .user-holder .user-dropdown {
  position: absolute;
  display: none;
  z-index: 100;
  width: 220px;
  top: 45px;
  right: -40px;
  background: #f6f6f6;
  border: 1px solid #c7c5c4;
  text-align: center;
  padding: 15px
}

header .user-holder .user-dropdown .username {
  font-size: 14px;
  display: block;
  padding: 0 0 10px
}

header .user-holder .user-dropdown::before {
  border-bottom: 10px solid #f6f6f6;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 48px;
  top: -9px;
  width: 0;
  z-index: 2
}

header .user-holder .user-dropdown::after {
  border-bottom: 10px solid #c7c5c4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 48px;
  top: -10px;
  width: 0
}

header .logo-header {
  color: #66C7FF;
  font-size: 20px;
  float: left;
  padding: 0 10px;
  border-left: 1px solid #1c3a6c
}

header .logo-header .name {
  font-size: 16px;
  font-weight: 700
}

header .logo-header:hover {
  color: #fff;
  text-decoration: none
}

header .menu-holder {
  position: relative;
  float: left
}

header .menu-holder .menu {
  color: #66C7FF;
  float: left;
  padding: 7px 30px 5px 10px;
  border-left: 1px solid #1c3a6c;
  border-right: 1px solid #1c3a6c;
  font-size: 16px;
  font-weight: 700;
  position: relative
}

header .menu-holder .menu:hover {
  color: #fff;
  text-decoration: none
}

header .menu-holder .menu::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 8px
}

header .menu-holder .menu-dropdown {
  position: absolute;
  display: none;
  z-index: 100;
  width: 140px;
  top: 40px;
  left: -55px;
  background: #f6f6f6;
  border: 1px solid #1d3a6c;
  border-top: none
}

header .menu-holder .menu-dropdown a {
  width: 100%;
  padding: 3px 10px;
  float: left;
  font-size: 16px;
  font-weight: 700;
  color: #084FAB
}

header .menu-holder .menu-dropdown a:hover {
  text-decoration: none;
  background: #fff
}

header .menu-holder .menu-dropdown a.monitor {
  border-top: 1px solid #1d3a6c
}

.logo {
  margin: 50px 0
}

.logo img {
  width: 100%;
  max-width: 300px
}

.red-title i {
  color: #9c201f;
  font-size: 30px
}

.alert {
  line-height: 1.2;
  font-size: 18px;
  color: #444
}

.folder-name {
  position: relative;
  padding-left: 30px
}

.folder-name::before {
  content: "\f07b";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 16px;
  color: #a0a0a0;
  pointer-events: none;
  position: absolute;
  left: 4px;
  top: 0
}

h2.login-title {
  margin-top: 70px;
  margin-bottom: 30px
}

.intro-text {
  margin-top: 30px
}

#table1 .fixed-table-body {
  height: 256px
}

main.content.js-content::before {
  content: '';
  display: block;
  height: 1px
}

.date-holder {
  position: relative
}

.date-holder::before {
  content: "\f073";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-size: 25px;
  color: #f0f0f0;
  pointer-events: none;
  position: absolute;
  right: 25px;
  top: 0
}

.fixed-table-container .fixed-table-header thead th .th-inner {
  padding: 5px 8px 11px
}

.fixed-table-container .fixed-table-header thead th .th-inner::before {
  content: '';
  height: 40px;
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #aaa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #aaa));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #aaa 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #aaa 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #aaa 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #aaa 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0
}

.fixed-table-container .fixed-table-header thead th.right-aligned .th-inner {
  padding: 5px 22px 11px 0
}

.fixed-table-container .right-aligned {
  text-align: right
}

.fixed-table-container thead th .th-inner {
  padding: 5px 8px 11px
}

.fixed-table-container thead th .th-inner::before {
  content: '';
  height: 40px;
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #aaa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #aaa));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #aaa 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #aaa 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #aaa 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #aaa 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0
}

.fixed-table-container .fixed-table-body thead th .sortable {
  padding-right: 22px
}

.fixed-table-container .fixed-table-body thead::after {
  content: '';
  background: #f3f3f3;
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.fixed-table-container .fixed-table-body tbody {
  background-color: #fff
}

.download-radio-selection {
  margin-top: 20px
}

.download-radio-selection .form-check {
  margin-bottom: 15px
}

h2.main-title {
  color: #000;
  font-size: 24px;
  line-height: 1.2;
  margin: 20px 0 10px;
  font-weight: 700;
  width: 100%
}

h2.section-title {
  font-size: 18px;
  font-weight: 700;
  color: #000
}

h2.section-title.search-inline {
  margin-top: 10px
}

h3.step-description {
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 700;
  color: #000
}

#upload-project a.selected, #subject-session a.selected {
  background-color: #C4DFFF
}

.project_id, .meta_key, .meta_value {
  color: rgba(0, 0, 0, 0.4);
  font-size: 83%;
  padding-left: 1em
}

body #nprogress .bar {
  z-index: 99999;
  height: 4px;
  background: #12BB00
}

body #nprogress::after {
  content: "";
  width: 100%;
  position: fixed;
  background: #E9E9E9;
  height: 4px;
  top: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3)
}

body #nprogress .peg {
  display: none
}

body #nprogress .spinner {
  left: 15px
}

body #nprogress .spinner-icon {
  border-top-color: #12BB00;
  border-left-color: #12BB00;
  border-width: 4px
}

body .swal-modal {
  width: 800px
}

body #upload_session_date::-webkit-calendar-picker-indicator {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  width: 10px;
  height: 21px;
  right: -3px;
  position: relative
}

body #upload_session_date::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none
}

body #upload_session_date:hover::-webkit-calendar-picker-indicator {
  cursor: pointer
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 500px;
  height: 20px;
  text-align: center
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset
}

progress[value]::before {
  content: attr(value) "/" attr(max)
}

progress[value]::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white
}

.fixed-table-container .filter-control, #user_table .filter-control, #upload_monitor_table .filter-control, #download_monitor_table .filter-control, #download_archive_table .filter-control, #upload_archive_table .filter-control {
  padding: 0 4px 4px 4px
}

.fixed-table-container .filter-control input, #user_table .filter-control input, #upload_monitor_table .filter-control input, #download_monitor_table .filter-control input, #download_archive_table .filter-control input, #upload_archive_table .filter-control input {
  padding: .125rem .75rem .125rem 30px;
  border-radius: .25rem
}

.fixed-table-container .filter-control select, #user_table .filter-control select, #upload_monitor_table .filter-control select, #download_monitor_table .filter-control select, #download_archive_table .filter-control select, #upload_archive_table .filter-control select {
  height: 1.875rem;
  padding: 0 0.25rem 0 1.5rem
}

.fixed-table-container .filter-control::before, #user_table .filter-control::before, #upload_monitor_table .filter-control::before, #download_monitor_table .filter-control::before, #download_archive_table .filter-control::before, #upload_archive_table .filter-control::before {
  left: 11px;
  top: 4px
}

.log-text {
  overflow: auto;
  height: auto;
  max-height: 55vh
}

.log-text p {
  margin: 0
}

#additional-upload-fields {
  width: 100%;
  margin-bottom: 15px
}

.project-subjects-holder {
  display: none
}

#found_sessions td.break-all {
  word-break: break-all
}

@media (min-width: 1201px) {
  .modal-xl {
    max-width: 1115px
  }
}

@media (max-width: 1200px) {
  .modal-xl {
    max-width: 96%
  }
}

.ui-pnotify.stack-bar-bottom {
  margin-left: 15%;
  right: auto;
  bottom: 0;
  top: auto;
  left: auto
}

.ui-pnotify-sticker {
  font-size: 80%;
  margin-right: 10px;
  line-height: 200%
}

.ui-pnotify-icon {
  margin-top: .3em
}

.brighttheme-icon-error::after {
  left: -3px;
  top: 2px
}

.brighttheme-icon-closer::after, .brighttheme-icon-info::after, .brighttheme-icon-notice::after, .brighttheme-icon-sticker::after, .brighttheme-icon-success::after {
  left: 5px
}

body > .ui-pnotify {
  z-index: 9999
}

.bootstrap-tagsinput {
  border-color: #aaa
}

.bootstrap-tagsinput.focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
}

#login_error_details {
  white-space: pre-wrap;
  font-size: 0.6em !important;
  max-height: 300px;
  overflow: auto
}
